ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.card {
  background-color: #d7d7d7;
}

.container-fluid {
  > .row {
    display: flex;
    align-items: center;
  }
}
