* {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

header {
    // Start Nav bar
    nav {
        background-color: #673ab7;
    }
    // End Nav bar
    /*____________________ */
    // Start sidebar
    // End sidebar
}